/.vs/PgccApi/v16/.suo
/.vs/PgccApi/v16/Server/sqlite3/db.lock
/.vs/PgccApi/v16/Server/sqlite3/storage.ide
/.vs/PgccApi/v16/Server/sqlite3/storage.ide-shm
/.vs/PgccApi/v16/Server/sqlite3/storage.ide-wal
/bin/Debug/netcoreapp2.2/PgccApi.deps.json
/bin/Debug/netcoreapp2.2/PgccApi.dll
/bin/Debug/netcoreapp2.2/PgccApi.pdb
/bin/Debug/netcoreapp2.2/PgccApi.runtimeconfig.dev.json
/bin/Debug/netcoreapp2.2/PgccApi.runtimeconfig.json
/bin/Debug/netcoreapp2.2/publish/BouncyCastle.Crypto.dll
/bin/Debug/netcoreapp2.2/publish/Google.Protobuf.dll
/bin/Debug/netcoreapp2.2/publish/MySql.Data.EntityFrameworkCore.dll
/bin/Debug/netcoreapp2.2/publish/MySql.Data.dll
/bin/Debug/netcoreapp2.2/publish/PgccApi.deps.json
/bin/Debug/netcoreapp2.2/publish/PgccApi.dll
/bin/Debug/netcoreapp2.2/publish/PgccApi.pdb
/bin/Debug/netcoreapp2.2/publish/PgccApi.runtimeconfig.json
/bin/Debug/netcoreapp2.2/publish/Renci.SshNet.dll
/bin/Debug/netcoreapp2.2/publish/SshNet.Security.Cryptography.dll
/bin/Debug/netcoreapp2.2/publish/System.Configuration.ConfigurationManager.dll
/bin/Debug/netcoreapp2.2/publish/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/netcoreapp2.2/publish/System.Xml.XPath.XmlDocument.dll
/bin/Debug/netcoreapp2.2/publish/appsettings.Development.json
/bin/Debug/netcoreapp2.2/publish/appsettings.json
/bin/Debug/netcoreapp2.2/publish/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/netcoreapp2.2/publish/web.config
/obj/Debug/netcoreapp2.2/PgccApi.AssemblyInfo.cs
/obj/Debug/netcoreapp2.2/PgccApi.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp2.2/PgccApi.RazorAssemblyInfo.cache
/obj/Debug/netcoreapp2.2/PgccApi.RazorAssemblyInfo.cs
/obj/Debug/netcoreapp2.2/PgccApi.RazorTargetAssemblyInfo.cache
/obj/Debug/netcoreapp2.2/PgccApi.assets.cache
/obj/Debug/netcoreapp2.2/PgccApi.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp2.2/PgccApi.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp2.2/PgccApi.csprojAssemblyReference.cache
/obj/Debug/netcoreapp2.2/PgccApi.dll
/obj/Debug/netcoreapp2.2/PgccApi.pdb
/obj/PgccApi.csproj.nuget.cache
/obj/PgccApi.csproj.nuget.dgspec.json
/obj/PgccApi.csproj.nuget.g.props
/obj/PgccApi.csproj.nuget.g.targets
/obj/project.assets.json
/.vs/PgccApi/config
/PgccApi.csproj.user
/.vs/PgccApi/DesignTimeBuild
